@charset "utf-8";
/* ####################### COMMON 공통 요소 ######################### */
body{font-family:'CjOnlyOneBodyLight', 'Noto Sans KR', sans-serif; line-height: 1; color:#fff; font-size: 16px;}
a{color:#fff;}
.inner{max-width: 1280px; margin: 0 auto;}
.body_r{font-family:'CjOnlyOneBodyRegular', 'Noto Sans KR', sans-serif;}
.title_m{font-family:'CjOnlyOnetitleMedium', 'Noto Sans KR', sans-serif;}
.title_b{font-family:'CjOnlyOnetitleBold', 'Noto Sans KR', sans-serif;}
.btn{display: inline-block; line-height:38px; height: 38px;; border: 1px solid #dddddd; padding:0 31px 0 35px; font-size: 15px; text-align: center; border-radius: 38px;}

/* ####################### HEADER ######################### */
header{border-bottom: 1px solid rgba(255, 255, 255, 0.411); position: fixed; left:0; top:0; width: 100%; height: 70px;}
header>.inner{position: relative; display: flex; justify-content: space-between;}
header a{display: block;}
header .left_menu{display: flex; align-items: center;}
header .left_menu h1>a{ height: 70px; line-height: 70px; padding-top: 8px; box-sizing: border-box;}
header .left_menu h1>a::before{content:''; display: inline-block; left:0; top:0; width: 110px; height: 40px; background:url(../images/logo.png) no-repeat; background-size: 110px auto; box-sizing: border-box;}
header .left_menu .lang{display: flex; margin: 0 0 0 14px;}
header .left_menu .lang{border: 1px solid #fff; border-radius:12px; display: flex;   text-align: center; width: 70px;}
header .left_menu .lang li{position: relative; flex:1;}
header .left_menu .lang li:nth-child(1)::after{content: ''; position: absolute; right:0;top:50%; height: 14px; width: 1px;background-color: #fff; transform: translateY(-50%);}
header .left_menu .lang li a{display: block; font-size: 11px; height: 22px; line-height: 22px;}
header .left_menu .lang .en{opacity: 0.7;}
header nav{position: absolute; left:50%; top:50%; transform: translate(-50%,-50%);}
header nav .gnb{display: flex;}
header nav .gnb li{position: relative;}
header nav .gnb li::before{content:''; position: absolute; top:50%; transform: translateY(-50%); height: 16px; width: 1px; background-color: rgba(255, 255, 255, 0.644);}
header nav .gnb li:first-child::before{display: none;}
header nav .gnb li a{width: 160px; text-align: center; font-size: 15px; line-height: 70px; height: 70px;}
header .faq{margin-top: 15px;}
header .faq>span>img{vertical-align: -2px; margin-right: 6px;}
.banner{width: 100%; height: 100vh; background-color: lightcoral;}




